body {
    font: normal normal 13px/16px "Open Sans", sans-serif;
    background-color: #eee;
}

.container {
    padding: 20px;
    width: 300px;
    margin: 40px auto;
    background-color: white;
    border-radius: 5px;
}

input {
    padding: 5px
}

#button {
    background-color: #217e58;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top:2px;
    padding: 5px 15px;
}

#button:hover{
    cursor: pointer;
    opacity: .8;
}

li {
    padding: 5px;
}

li:hover {
    cursor: pointer
}

ol li:nth-child(even) {
    background-color: #eee;
}

li > crossOutButton {
    float: right;
    color: #217e58;
    font-weight: 800;
    border: none;
}

.strike {
    text-decoration: line-through;
}

.delete {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
}